@import "../../../lib/mixins.scss";

table.avt-event-list {

    background: white;
    width: 100%;
    padding: 15px;
    
    tr {
        .separator {
            @include valueWithPrefix(display, flex);
            @include propertyWithPrefix(align-items, center);
            text-align: center;
            cursor: pointer;

            &::before, &::after {
                content: '';
                flex: 1;
                border-bottom: 1px dashed rgb(161, 161, 161);
            }

            &>span {
                &>span {
                    cursor: pointer;
                    margin: 0 5px;

                    &.collapsible-controller {
                        margin-right: 0;
                        display: inline-block;
                        background: #3c434a;
                        color: white;
                        width: 16px;
                        font-size: 17px;
                        text-align: center;
                        line-height: 15px;
                        height: 16px;
                        border-radius: 50%;
                    }
                }
            }
        }

        &.has_line {
            .separator {
                margin-top: 10px;
                font-weight: bold;
                &::before, &::after {
                    border-color: rgb(82, 82, 82);
                }
            }
        }

        &:not(.has_line) {
            &:not(:hover) {
                .separator {
                    visibility: hidden;
                }
            }
        }
    }

    td{
        padding: 4px;
        
        input:not([type=radio]):not([type=checkbox]), select, textarea {
            width: 100%;
        }

        &:last-child {
            white-space: nowrap;
            span {
                cursor: pointer;
                
            }
        }
    }

    &:not(.test-meta-data) td {
        text-align: center;
        a {
            text-decoration: none;
        }
    }
}

#avt_dashboard_container+div ul {
    list-style-type: disc; 
    list-style-position: outside; 
    padding-left: 16px;

    ul {
        list-style-type: circle;
    }
}

.avt-toast-parent {
    position: fixed;
    right: 25px;
    bottom: 50px;
    right: 50px;
    left: auto;
    max-height: 400px;
    width: 350px;
    overflow-x: hidden;
    overflow-y: auto;
    background: transparent;
    z-index: 99999999;

    &:empty {
        display: none;
    }

    &>div {
        background: white;
        padding: 10px;
        margin: 15px;
        border-radius: 15px;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
        border: 1px solid #E8E8E8;
        background: white;
        border: none;
        
        @include valueWithPrefix(display, flex);
        @include propertyWithPrefix(align-content, center);
        @include propertyWithPrefix(align-items, center);

        &>div {
            padding: 8px;
        }

        b{
            font-weight: 600;
            display: block;
        }
        
        span{
            color: rgb(51, 51, 51);
        }

        i {
            cursor: pointer;
            font-size: 14px;
        }
    }
}

body.rtl .avt-toast-parent {
    right: auto;
    left: 50px;
}